<body>
    <div class="header">
  
       <img src="http://localhost/heart.png" alt=" ">
     
       <h2 class="title1">Flat Theme</h2>
     
       <div class="fields">
     
           <a href="">Home</a>
     
           <a href="">About Us</a>
     
           <a href="">Services</a>
     
           <a href="">Portfolio</a>
     
           <a href="">Pages</a>
     
           <a href="">Blog</a>
     
           <a href="">Contact</a>
     
       </div>
     
     </div>
     
    <div class="top-left">Powerful and Responsive Web design</div>
    <div class="txt1"><b> TWITTER MARKETING </b><br> pellentesque habitant morbi <br> tristique senectus et netus et <br> malesuada fames ac turrpis 
    <br>  egestas. Vestibulum totor <br> quam, feugiat vitae</div>
    <div class="txt2"><b> FACEBOOK </b> <br> <b>MARKETING </b><br> Pellentesque habitant morbi <br> tristique senectus et netus et <br> malesuada fames ac turrpis 
        <br>  egestas. Vestibulum totor <br> quam, feugiat vitae</div>
  
    <div class="txt3"><b> GOOGLE PLUS </b> <br> <b>MARKETING </b> <br> Pellentesque habitant morbi <br> tristique senectus et netus et <br> malesuada fames ac turrpis 
        <br>  egestas. Vestibulum totor <br> quam, feugiat vitae</div>
  
    <div class="txt4"> pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turrpis egestas.</div>
    <img src="http://localhost/tiger.jpg" height=350px; width=1220px;>
    <img src="http://localhost/twiter.png" class="image1" alt="image"/>
    <img src="http://localhost/facebook.png" class="image2" alt="image"/>
    <img src="http://localhost/google.png" class="image3" alt="image"/>
    